# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual envs
venv/
.venv
.env/
.env.*          # like .env.local, .env.prod
.env 

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Logs
*.log

# Railway or deploy files
*.sqlite3
